/* Styles for screens below 768px (e.g., smartphones) */
@media screen and (max-width: 767px) {}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* Desktop styles */
@media screen and (min-width: 1024px) and (max-width: 1919px) {}

/* Large display styles */
@media screen and (min-width: 1920px) {}



@media (max-width: 1024px) {

    .submit-button {
        font-size: 1.25rem;
    }

    .form-label {
        font-size: 1.25rem;
    }

    .mango-description {
        font-size: 1.25rem;
    }

    .heading-and-image {
        max-width: 50rem;
    }

    .heading-introduction {
        max-width: 45rem;
    }

    .footer-container {
        display: block;
    }

    .main-mangoquest {
        flex-wrap: wrap;
    }

    .double-intro {
        width: 85%;
    }

    .menu-toggle {
        display: inline-block;
    }

    .nav-group-left,
    .nav-group-right {
        display: none;
    }

    .heading-introduction {
        transform: translateX(0%);
    }

    .filter-box {
        max-width: 25rem;
        width: 95%;
    }

    .adventurer-card {
        flex-wrap: wrap;
        gap: 0;
    }

    .adventurer-image {
        width: 95%;
    }

    .previous-mango-quest-text {
        font-size: 1.25rem;
    }

    .previous-mango-quest-text2 {
        font-size: 1.25rem;
    }

    .heading-bermuda {
        font-size: 1.5rem;
    }

}

@media (max-width: 767px) {

    .submit-button {
        font-size: 1.5rem;
    }

    .form-label {
        font-size: 1.5rem;
    }

    .contact-h2 {
        font-size: 1.75rem;
    }

    .mango-description {
        font-size: 1.5rem;
    }

    .adventurer-section {
        max-width: 95%;
        padding: 1.5rem;
    }

    .text-content-about {
        font-size: 1.5rem;
        padding: 0%;
    }

    .h1-blogpost {
        font-size: 1.5rem;
    }

    .adventurer-title {
        font-size: 1.5rem;
    }

    .adventurer-bio {
        font-size: 1.5rem;
    }

    .about-section {
        padding: 1.5rem;
    }

    .post-content h1,
    h2,
    h3,
    h4 {
        font-size: 1.5rem;
        padding-bottom: 1%;
    }

    .post-content p {
        font-size: 1.5rem;
    }

    .heading-bermuda {
        font-size: 1.25rem;
    }

    .previous-mango-quest-text {
        font-size: 1.25rem;
    }

    .previous-mango-quest-text2 {
        font-size: 1.25rem;
        padding: 1.25rem;
    }

    .h2-index {
        font-size: 2.25rem;
    }

    .social-media {
        flex-direction: column;
    }

    .arrow img {
        max-width: 3rem;
        max-height: 3rem;
    }

    .social-media {
        display: flex;
        justify-content: center;
    }

    .mango-description {
        width: 95%;
    }

    .contact-form-section {
        width: 85%;
    }

    .single-post {
        flex: 0 0 calc(100% - 6%);
        max-width: 30rem;
    }

}

let itemsFit=0;
let itemsToMove=0;
let currentOffset=0;

async function initialize() {
    const carouselWrapper=document.querySelector('.carousel-wrapper');
    const carousel=document.querySelector('.carousel');
    const leftArrow=document.querySelector('.left-arrow');
    const rightArrow=document.querySelector('.right-arrow');
    const headingAndImage=document.querySelector('.heading-and-image');
    const headingIntroduction=document.querySelector('.heading-introduction');
    const previousMangoQuestText=document.querySelector('.previous-mango-quest-text');

    async function fetchAndPopulateCarousel() {
        const response=await fetch('https://mangoquest.themlmleader.com/wp-json/wp/v2/posts?_embed&per_page=100');
        const posts=await response.json();

        while (carousel.firstChild) {
            carousel.removeChild(carousel.firstChild);
        }

        posts.forEach(post=> {
                const carouselItem=document.createElement('div');
                carouselItem.className='carousel-item';

                const imgElement=document.createElement('img');
                const altText=post._embedded['wp:featuredmedia'][0].alt_text || post.title.rendered;
                imgElement.src=post._embedded['wp:featuredmedia'][0].source_url;
                imgElement.alt=altText;

                const descriptionElement=document.createElement('div');
                descriptionElement.className='description description-styled';
                descriptionElement.innerHTML=post.title.rendered;

                carouselItem.appendChild(imgElement);
                carouselItem.appendChild(descriptionElement);
                carousel.appendChild(carouselItem);

                carouselItem.setAttribute("data-post-id", post.id);

                carouselItem.addEventListener('click', function () {
                        const postId=this.getAttribute("data-post-id");

                        window.location.href=`blog-post.html?id=$ {
                            postId
                        }

                        `;
                    });
            });

        updateCarousel();
    }


    function updatePosition() {
        const offset=currentOffset * (carouselWrapper.offsetWidth / itemsFit);

        carousel.style.transform=`translateX($ {
                offset
            }

            px)`;
    }

    function updateArrows() {
        const carouselItems=document.querySelectorAll('.carousel-item');
        const maxOffset=-1 * (carouselItems.length - itemsFit);

        leftArrow.disabled=currentOffset>=0;
        rightArrow.disabled=currentOffset <=maxOffset;
    }

    function updateCarousel() {
        const style=window.getComputedStyle(document.querySelector('.carousel-item'));
        const marginRight=parseFloat(style.marginRight);
        const marginLeft=parseFloat(style.marginLeft);
        const availableWidth=carouselWrapper.offsetWidth;

        itemsFit=Math.floor(availableWidth / (250 + marginRight + marginLeft));
        itemsToMove=(itemsFit===1) ? 1: 3;
        const itemWidth=(availableWidth / itemsFit) - (marginRight + marginLeft);

        document.querySelectorAll('.carousel-item').forEach(item=> {
                item.style.width=`$ {
                    itemWidth
                }

                px`;
            });

        updatePosition();
        updateArrows();
    }

    window.addEventListener('resize', updateCarousel);
    await fetchAndPopulateCarousel();

    leftArrow.addEventListener('click', ()=> {
            if (currentOffset >=0) return;

            currentOffset +=itemsToMove;
            currentOffset=Math.min(currentOffset, 0);
            updatePosition();
            updateArrows();
        });

    rightArrow.addEventListener('click', ()=> {
            const carouselItems=document.querySelectorAll('.carousel-item');
            const maxOffset=-1 * (carouselItems.length - itemsFit);
            if (currentOffset <=maxOffset) return;

            currentOffset -=itemsToMove;
            currentOffset=Math.max(currentOffset, maxOffset);
            updatePosition();
            updateArrows();
        });

    function increaseFontSize() {
        const style=window.getComputedStyle(previousMangoQuestText, null).getPropertyValue('font-size');
        previousMangoQuestText.style.fontSize=(parseFloat(style) * 1.2)+'px';
    }

    function resetFontSize() {
        previousMangoQuestText.style.fontSize='';
    }

    headingAndImage.addEventListener('mouseenter', ()=> {
            if (window.innerWidth > 1024) {
                headingIntroduction.style.animation='bounceRight 0.5s ease-out forwards';
                increaseFontSize();
            }
        });

    headingAndImage.addEventListener('click', ()=> {
            if (window.innerWidth <=1024) {
                headingIntroduction.style.animation='bounceDown 0.5s ease-out forwards';

                setTimeout(()=> {
                        window.location.href='blog-post.html?id=25';
                    }

                    , 1500);
            }

            else if (window.innerWidth > 1024) {
                window.location.href='blog-post.html?id=25';
            }
        });


    headingAndImage.addEventListener('mouseleave', function () {
            headingIntroduction.style.animation='';
            resetFontSize();
        });
}


document.addEventListener('DOMContentLoaded', initialize);